@keyframes linea{
    from{
        opacity: 0;
        width: 0;
        left: 50%;
    }to{
        opacity: 1;
        width: 100%;
        left: 0;
    }
}
@keyframes barra{
    from{
        width: 0;
    }to{
        width: 100%;
    }
}