.eduwin{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    position: relative;
    &::before{
        content: '';
        display: block;
        background-image: url('../assets/img/eduwin1.png'); 
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.con_mi_info{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5em;
    position: relative;
    h1{
        pointer-events: none;
        user-select: none;
        color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 4em;
        span{
            color: rgba(255,0,0,1);
            font-size: 1.3em;
        }
    }
    & > p{
        font-size: 1.2em;
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Raleway', sans-serif;
        color: #ffffff;
        writing-mode: vertical-lr;
        height: 100%;
        text-align: center;
        &::after{
            content: '';
            display: block;
            height: 50%;
            width: 1px;
            background-color: rgba($color: #ffffff, $alpha: 1);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            z-index: 0;
            background: rgb(135,135,135);
            background: -moz-linear-gradient(180deg, rgba(135,135,135,1) 48%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(180deg, rgba(135,135,135,1) 48%, rgba(0,0,0,0) 100%);
            background: linear-gradient(180deg, rgba(135,135,135,1) 48%, rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878787",endColorstr="#000000",GradientType=1);
        }
        &::before{
            content: '';
            display: block;
            height: 50%;
            width: 1px;
            background-color: rgba($color: #ffffff, $alpha: .5);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            z-index: 1;
            background: rgb(135,135,135);
            background: -moz-linear-gradient(0deg, rgba(135,135,135,1) 48%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(0deg, rgba(135,135,135,1) 48%, rgba(0,0,0,0) 100%);
            background: linear-gradient(0deg, rgba(135,135,135,1) 48%, rgba(0,0,0,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#878787",endColorstr="#000000",GradientType=1);
        }
    }
}
.cont-more{
    max-width: 700px;
    width: 100%;
    padding-right: 3em;
    p{
        user-select: none;
        color: #ffffff;
        text-align: left;
    }
}
.swiper-container {
    width: 100%;
    position: absolute;
    bottom: -7rem;
    right: 2.5em;
    padding: 30px;
}  
.swiper-wrapper {
    transition-delay: .5s;
    cursor: grab;
}
.swiper-slide {
    width: 350px;
    height: 200px;
}  
.swiper-slide:nth-child(1) .slide-img {
    background-image: url('../assets/img/img8.jpg');
}
.swiper-slide:nth-child(2) .slide-img {
    background-image: url('../assets/img/img7.jpg');
}
.swiper-slide:nth-child(3) .slide-img {
    background-image: url('../assets/img/img11.png');
}
.swiper-slide:nth-child(4) .slide-img {
    background-image: url('../assets/img/img9.jpg');
}
.swiper-slide:nth-child(5) .slide-img {
    background-image: url('../assets/img/img16.gif');
}
.slide-img {
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.slide-img::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);    
    mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease-in-out;
}
.slide-img:hover::after {
    opacity: .5;
}
.slide-number {
    position: absolute;
    top: -35px;
    right: 0;
    z-index: 1;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.slide-number p {
    font-size: 50px;
    color: #ffffff;
    position: relative;
}
.slide-number p span {
    position: absolute;
}
.slide-text {
    position: absolute;
    bottom: -70px;
    left: 50px;
    z-index: 1;
    width: 200px;
    height: 100px;
    overflow: hidden;
}
.slide-text p {
    color: #fff;
    font-size: 40px;
    position: relative;
}
.slide-text p span {
    position: absolute;
}
.all-skills{
    padding-top: 2em;
    padding: 10em 10% 2em;
    background-color: rgba(0,0,0,1);
    width: 100%;
}
.skills{
    width: 100%;
    background: linear-gradient(90deg, rgba(142,1,1,1) 0%, rgba(233,0,0,1) 100%);
    height: 200px;
    border-radius: 10px;
    box-shadow: 1em 1em 0em 0em #1a1a1a;
    h2{
        padding-top: 1.5em;
        color: #fff;
        text-align: center;
        font-size: 2.5em;
    }
}
.skills_items{
    margin-top: -4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cont_skills_items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.item_skills{
    background-color: #303030;
    color: #ffffff;
    width: 100%;
    max-width: 300px;
    height: 140px;
    padding: 20px;
    margin: .2em .5em;
    border-radius: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 0 1em 0em rgba($color: #000000, $alpha: .75);
    transition: all .3s ease-in-out;
    &:hover{
        transform: scale(1.1);
        box-shadow: .5em 1.5em 1em .5em rgba($color: #000000, $alpha: .75);
    }
}
.ir_gal{
    margin: 2em 0;
    a{
        color: #ffffff;
    }
}
.trabajo{
    background-color: #e0e0e0;
    h2{
        color: #1a1a1a;
        text-align: center;
        padding-top: 1em;
        font-size: 2.5em;   
    }
}
.cont_rabajos{
    width: 100%;
    padding: 1em 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item_trabajo{
    width: 100%;
    max-width: 230px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 1em;
    cursor: pointer;
    img{
        height: 100%;
        transition: all .3s ease-out;
    }
    figcaption{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        transition: all .3s ease-out;
        opacity: 0;
    }
    &:hover{
        img{
            transform: translateY(-1rem);
        }
        figcaption{
            bottom: -2rem;
            opacity: 1;
        }
    }
}

